<!-- <router-outlet></router-outlet> -->
<div class="mainFrmDv">
  <div class="headingDv">
    <div class="itemDv">
      <input
        type="date"
        displayFormat="YYYY/MM/DD"
        (change)="getFilteredSearched()"
        [(ngModel)]="dateFilteredSelected"
        id="DatesSelectedInfo"
        name="DatesSelectedInfo"
        #DatesSelected="ngModel"
        placeholder="Select Date:"
      />
    </div>
    <div class="itemDv">
      <select
        class="infoppptpppdv"
        (change)="getFilteredSearched()"
        [(ngModel)]="jobTypeFilteredSelected"
        placeholder="Select"
        required
        #JobType="ngModel"
        name="JobTypeData"
      >
        <option value="undefined">Please Select Job Type</option>
        <option [value]="item" *ngFor="let item of jobTypesArray">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="itemDv">
      <p (click)="DropdownToggleCompany()">Please Select Company</p>
      <i
        (click)="DropdownToggleCompany()"
        *ngIf="!dropdownCompany"
        class="fa fa-caret-down"
        aria-hidden="true"
      ></i>
      <i
        (click)="DropdownToggleCompany()"
        *ngIf="dropdownCompany"
        class="fa fa-caret-up"
        aria-hidden="true"
      ></i>
      <div class="dropdownDv scrolinfodinfodv" *ngIf="dropdownCompany">
        <div class="flexinfoDv">
          <input
            required
            type="text"
            id="CompaniesData"
            name="CompaniesData"
            [(ngModel)]="searchInput"
            #infoSelected="ngModel"
            (keyup)="onSearchInputChanged($event)"
            placeholder="Search Companies"
          />
          <i
            *ngIf="searchInput"
            class="fa fa-close"
            (click)="resetComapanies()"
            aria-hidden="true"
          ></i>
        </div>
        <div
          class="gridiconinfodv"
          *ngFor="let item of companiesArray; let i = index"
        >
          <p>
            {{ item }}
          </p>
          <div class="iconDv">
            <i
              class="fa fa-check"
              (click)="getFilteredCompanySearched(item)"
              aria-hidden="true"
            ></i>
            <i
              class="fa fa-minus"
              aria-hidden="true"
              *ngIf="checkCompany(item)"
              (click)="removeCompany(item)"
            ></i>
          </div>
        </div>
      </div>
    </div>
    <div class="itemDv">
      <select
        class="infoppptpppdv"
        (change)="getFilteredSearched()"
        [(ngModel)]="categoriesFilteredSelected"
        placeholder="Select"
        required
        #Categories="ngModel"
        name="CategoriesData"
      >
        <option value="undefined">Please Select Category</option>
        <option [value]="item" *ngFor="let item of categoriesArray">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="itemDv">
      <a (click)="reset()">Reset</a>
    </div>
  </div>
  <div class="jobListingData scrolinfodinfodv">
    <div class="gridDv" *ngIf="jobsData.length">
      <div
        class="joblistingCard"
        *ngFor="
          let item of jobsData
            | paginate
              : {
                  itemsPerPage: this.count,
                  currentPage: this.page,
                  totalItems: this.totalCount
                };
          let i = index
        "
      >
        <figure>
          <img src="../assets/logo.png" />
          <!-- <img crossorigin="anonymous" [src]="item.company_logo" /> -->
        </figure>
        <div class="textDv">
          <h1>{{ item.title }}</h1>
          <h2>{{ item.company_name }}</h2>
          <p>
            {{ item.candidate_required_location }} ({{
              item.job_type ? item.job_type : "-"
            }})
          </p>
          <p>
            {{ item.publication_date.split("T")[0] }}
          </p>
        </div>
      </div>
    </div>
    <div class="errorDv" *ngIf="!jobsData.length">
      <p>No Data Found!</p>
    </div>
  </div>
  <div class="paginationdv" *ngIf="jobsData.length">
    <pagination-controls
      (pageChange)="pageChanged($event)"
      [autoHide]="true"
      [responsive]="true"
    ></pagination-controls>
  </div>
</div>
