.mainFrmDv {
    background: #f3f2ef;padding:25px;overflow:hidden;height:100vh; display: flex;align-items: center;justify-content: flex-start;flex-direction:column;
    .headingDv {
        display: flex;align-items: center;justify-content: flex-start;margin:0px 0px 25px 0px;width: 100%;
        .itemDv {
            display: flex;align-items: center;justify-content: space-between;width: 20%;padding: 0px 25px;margin:0px 25px 0px 0px;background: white;border-radius: 4px;border: 1px solid #eee;height: 60px;cursor: pointer;position: relative;
            p {color: #191919;font-size: 18px;line-height: 1;margin: 0px 0px 0px;padding: 0px;letter-spacing: 0px;font-weight: 600;}
            i {
                font-size: 20px;color:#191919;
            }
            .dropdownDv {
                background: white;border-radius: 4px;border: 1px solid #eee;position: absolute;right: 0px;width: 300px;padding: 15px;height: 200px;top: 55px;overflow-y: auto;
                .flexinfoDv {
                  display: flex;align-items: center;justify-content: flex-start;
                }
                input {
                    padding: 0px 0px 0px 10px;margin-bottom: 15px;width: auto;
                }
                .gridiconinfodv {
                  padding-bottom: 15px;display: flex;align-items: center;justify-content: space-between;border-bottom: 1px solid #0a66c2;margin-bottom: 15px;
                  .iconDv {
                    display: flex;align-items: center;justify-content: flex-end;
                    i {background: #0a66c2;margin-left: 10px;height: 25px;padding: 0px;font-size: 13px;color: white;display: flex;align-items: center;justify-content: center;width: 25px;border-radius: 6px;}
                  }
                  p {
                    color: #191919;font-size: 18px;line-height: 1;letter-spacing: 0px;font-weight: 600;cursor: pointer;margin:0px;padding:0px;
                  }
                  &:last-child {
                    border-bottom: 0px solid #0a66c2;margin-bottom: 0px;padding-bottom: 0px;
                  }
                }
            }
            input,textarea,select {
                margin: 0px 0px 0px;width: 100%;color: black;border-radius: 4px;border: 1px solid #25242469;resize: none;outline: none;height: 40px;background: none;color: black;font-size: 16px;padding: 0px 20px;font-weight: 500;
                &::placeholder {color: #000;}
                &:focus {border-color: var(--ion-color-secondary);box-shadow: 0 0 0 3px var(--ion-color-secondary-shade);outline: none;}
                &.valid {border-color: var(--ion-color-success) !important;}
                &.invalid {border-color: var(--ion-color-danger) !important;}
                &.ng-invalid.ng -dirty:not(.ng-untouched) {border-color: var(--ion-color-danger);box-shadow: 0 0 5px var(--ion-color-danger-shade);}
            }
            &:last-child {
                margin:0px 0px 0px 0px;
            }
            a {width: 100%;height: 40px;line-height: 1;letter-spacing: 0px;display: flex;align-items: center;justify-content: center;background: #0a66c2;border-radius: 6px;color: white;font-size: 17px;font-weight: 600;}
        }
    }
    .jobListingData {
        width: 100%;flex-grow:1;overflow-y:auto;overflow-x:hidden;
        .gridDv {
            .joblistingCard {
                width: 40%;padding: 25px;margin:0px 0px 25px;background: white;border-radius: 4px;border: 1px solid #eee;display: flex;align-items: center;justify-content: flex-start;
                figure {
                    margin: 0px;padding: 0px;width: 80px;height: 80px;border-radius:6px;margin:0px 10px 0px 0px;
                    img {width: 100%;height: 100%;object-fit: cover;vertical-align: middle;border-radius:6px;}
                }
                .textDv {
                    h1 {color: #0a66c2;font-size: 22px;line-height: 1;margin: 0px 0px 5px;padding: 0px;letter-spacing: 0px;font-weight: 600;}
                    h2 {color: #191919;font-size: 18px;line-height: 1;margin: 0px 0px 0px;padding: 0px;letter-spacing: 0px;font-weight: 600;}
                    p {color:  #666666;font-size: 17px;line-height: 1;margin: 5px 0px 0px;padding: 0px;letter-spacing: 0px;font-weight: 500;}
                }
                &:last-child {
                    margin:0px 0px 0px 0px;
                }
            }
        }
    }
    .paginationdv {
        display: flex;align-items: flex-start;justify-content: center;margin: 0px;height: 130px;padding: 0px;
        p {color: white;line-height: 1;padding: 0px;margin: 0px;letter-spacing: 0px;font-weight: 500;font-size: 13px;cursor: pointer;text-transform: capitalize;}
        .infodv {
          display: flex;align-items: center;justify-content: flex-end;
          p {margin: 0px 0px 0px 10px;padding: 0px;color: white;letter-spacing: 0px;line-height: 1;font-weight: 600;font-size: 12px;cursor: pointer;text-transform: capitalize;}
        }
    }
}
