/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {font-family: 'Rajdhani';margin:0px;padding:0px;display: block;overflow: hidden;}
.ngx-pagination .current {background: #2e5d9e !important;}
.ngx-pagination {padding: 0px !important;margin: 0px !important;}
.ngx-pagination {margin: 0px 0px 0px;padding: 0px;display: flex;align-items: center;justify-content: center;}
.ngx-pagination .disabled {color: black !important;font-size: 12px !important;}
.ngx-pagination a,.ngx-pagination button {color: black !important;font-size: 12px !important;}
.ngx-pagination a:hover,.ngx-pagination button:hover {background: #06B22E !important;border-radius: 4px !important;font-size: 12px !important;}
.ngx-pagination {
    margin: 0px 0px 0px;padding: 0px;display: flex;align-items: center;justify-content: center;margin-bottom: 0px !important;
  .current {background: #06B22E !important;border-radius: 4px !important;font-size: 25px !important;}
}
.ngx-pagination .disabled {color: black !important;font-size: 25px !important;}
.ngx-pagination a,.ngx-pagination button {color: black !important;font-size: 25px !important;}
.ngx-pagination a:hover,.ngx-pagination button:hover {background: #06B22E !important;color: white !important;border-radius: 4px !important;font-size: 25px !important;}
@mixin scrollbar() {
  scrollbar-color: #0000004d;scrollbar-width: thin;
  &::-webkit-scrollbar {width: 5px;background: rgba(239, 239, 239, 0.5)}
  &::-webkit-scrollbar-thumb {background-color: #0a66c2;min-height: 50px;border-radius: 0px;}
}
.scrolinfodinfodv {
  @include scrollbar();
}